In [2]:
#dependencies
import pandas as pd

In [3]:
jan17 = pd.read_csv('Data/201701-citibike-tripdata.csv')
feb17 = pd.read_csv('Data/201702-citibike-tripdata.csv')
mar17 = pd.read_csv('Data/201703-citibike-tripdata.csv')
apr17 = pd.read_csv('Data/201704-citibike-tripdata.csv')
may17 = pd.read_csv('Data/201705-citibike-tripdata.csv')
jun17 = pd.read_csv('Data/201706-citibike-tripdata.csv')
jul17 = pd.read_csv('Data/201707-citibike-tripdata.csv')
aug17 = pd.read_csv('Data/201708-citibike-tripdata.csv')
sep17 = pd.read_csv('Data/201709-citibike-tripdata.csv')
oct17 = pd.read_csv('Data/201710-citibike-tripdata.csv')
nov17 = pd.read_csv('Data/201711-citibike-tripdata.csv')
dec17 = pd.read_csv('Data/201712-citibike-tripdata.csv')

In [5]:
jan17.info

<bound method DataFrame.info of         Trip Duration           Start Time            Stop Time  \
0                 680  2017-01-01 00:00:21  2017-01-01 00:11:41
1                1282  2017-01-01 00:00:45  2017-01-01 00:22:08
2                 648  2017-01-01 00:00:57  2017-01-01 00:11:46
3                 631  2017-01-01 00:01:10  2017-01-01 00:11:42
4                 621  2017-01-01 00:01:25  2017-01-01 00:11:47
5                 666  2017-01-01 00:01:51  2017-01-01 00:12:57
6                 559  2017-01-01 00:05:00  2017-01-01 00:14:20
7                 826  2017-01-01 00:05:37  2017-01-01 00:19:24
8                 255  2017-01-01 00:05:47  2017-01-01 00:10:02
9                 634  2017-01-01 00:07:34  2017-01-01 00:18:08
10               1081  2017-01-01 00:07:49  2017-01-01 00:25:50
11                479  2017-01-01 00:08:00  2017-01-01 00:15:59
12               2005  2017-01-01 00:05:57  2017-01-01 00:39:23
13                738  2017-01-01 00:08:50  2017-01-01 00:21:09
14                901  2017-01-01 00:09:18  2017-01-01 00:24:20
15               1246  2017-01-01 00:09:19  2017-01-01 00:30:06
16                899  2017-01-01 00:09:20  2017-01-01 00:24:19
17               1504  2017-01-01 00:09:29  2017-01-01 00:34:34
18                759  2017-01-01 00:09:30  2017-01-01 00:22:09
19               1231  2017-01-01 00:09:59  2017-01-01 00:30:31
20                351  2017-01-01 00:10:11  2017-01-01 00:16:02
21                229  2017-01-01 00:10:50  2017-01-01 00:14:40
22                570  2017-01-01 00:10:50  2017-01-01 00:20:20
23                207  2017-01-01 00:10:53  2017-01-01 00:14:20
24               6370  2017-01-01 00:11:34  2017-01-01 01:57:44
25               6357  2017-01-01 00:11:44  2017-01-01 01:57:42
26               6330  2017-01-01 00:12:13  2017-01-01 01:57:43
27               1342  2017-01-01 00:12:16  2017-01-01 00:34:38
28               1173  2017-01-01 00:12:40  2017-01-01 00:32:14
29               1386  2017-01-01 00:12:55  2017-01-01 00:36:02
...               ...                  ...                  ...
726646           1273  2017-01-31 23:52:18  2017-02-01 00:13:32
726647           1283  2017-01-31 23:52:22  2017-02-01 00:13:46
726648           1507  2017-01-31 23:52:37  2017-02-01 00:17:45
726649            414  2017-01-31 23:52:49  2017-01-31 23:59:43
726650            863  2017-01-31 23:53:14  2017-02-01 00:07:38
726651            296  2017-01-31 23:53:19  2017-01-31 23:58:16
726652            669  2017-01-31 23:53:32  2017-02-01 00:04:42
726653            693  2017-01-31 23:54:05  2017-02-01 00:05:39
726654            150  2017-01-31 23:54:40  2017-01-31 23:57:10
726655            258  2017-01-31 23:54:45  2017-01-31 23:59:04
726656            271  2017-01-31 23:54:46  2017-01-31 23:59:17
726657            340  2017-01-31 23:54:53  2017-02-01 00:00:33
726658            790  2017-01-31 23:54:53  2017-02-01 00:08:04
726659            256  2017-01-31 23:54:56  2017-01-31 23:59:13
726660            942  2017-01-31 23:55:12  2017-02-01 00:10:55
726661            709  2017-01-31 23:55:30  2017-02-01 00:07:19
726662            791  2017-01-31 23:55:47  2017-02-01 00:08:58
726663            794  2017-01-31 23:55:48  2017-02-01 00:09:02
726664            799  2017-01-31 23:55:47  2017-02-01 00:09:07
726665            250  2017-01-31 23:55:55  2017-02-01 00:00:06
726666           1141  2017-01-31 23:56:03  2017-02-01 00:15:05
726667           1253  2017-01-31 23:56:15  2017-02-01 00:17:09
726668            219  2017-01-31 23:57:23  2017-02-01 00:01:03
726669            895  2017-01-31 23:57:51  2017-02-01 00:12:47
726670           2213  2017-01-31 23:57:53  2017-02-01 00:34:47
726671            340  2017-01-31 23:59:14  2017-02-01 00:04:55
726672            338  2017-01-31 23:59:23  2017-02-01 00:05:01
726673             79  2017-01-27 04:59:49  2017-01-27 05:01:08
726674            711  2017-01-27 06:23:29  2017-01-27 06:35:21
726675            623  2017-01-27 06:36:39  2017-01-27 06:47:02

        Start Station ID           Start Station Name  Start Station Latitude  \
0                   3226  W 82 St & Central Park West               40.782750
1                   3263       Cooper Square & E 7 St               40.729236
2                   3143              5 Ave & E 78 St               40.776829
3                   3143              5 Ave & E 78 St               40.776829
4                   3143              5 Ave & E 78 St               40.776829
5                   3163  Central Park West & W 68 St               40.773407
6                    499           Broadway & W 60 St               40.769155
7                    362           Broadway & W 37 St               40.751726
8                    430             York St & Jay St               40.701485
9                   3165  Central Park West & W 72 St               40.775794
10                   528              2 Ave & E 31 St               40.742909
11                   474              5 Ave & E 29 St               40.745168
12                   524              W 43 St & 6 Ave               40.755273
13                   297              E 15 St & 3 Ave               40.734232
14                   515             W 43 St & 10 Ave               40.760094
15                  3172       W 74 St & Columbus Ave               40.778567
16                   515             W 43 St & 10 Ave               40.760094
17                   423              W 54 St & 9 Ave               40.765849
18                   267           Broadway & W 36 St               40.750977
19                   369        Washington Pl & 6 Ave               40.732241
20                  3139           E 72 St & Park Ave               40.771183
21                   279         Peck Slip & Front St               40.707873
22                   301            E 2 St & Avenue B               40.722174
23                   128     MacDougal St & Prince St               40.727103
24                   449              W 52 St & 9 Ave               40.764618
25                   449              W 52 St & 9 Ave               40.764618
26                   449              W 52 St & 9 Ave               40.764618
27                   153              E 40 St & 5 Ave               40.752062
28                   368           Carmine St & 6 Ave               40.730386
29                   513             W 56 St & 10 Ave               40.768254
...                  ...                          ...                     ...
726646              2021              W 45 St & 8 Ave               40.759291
726647              2021              W 45 St & 8 Ave               40.759291
726648              3413           Wyckoff St & 3 Ave               40.682755
726649               474              5 Ave & E 29 St               40.745168
726650              3372              E 74 St & 1 Ave               40.768974
726651               285           Broadway & E 14 St               40.734546
726652               355        Bayard St & Baxter St               40.716021
726653               128     MacDougal St & Prince St               40.727103
726654               284        Greenwich Ave & 8 Ave               40.739017
726655               469           Broadway & W 53 St               40.763441
726656               509              9 Ave & W 22 St               40.745497
726657               509              9 Ave & W 22 St               40.745497
726658               346          Bank St & Hudson St               40.736529
726659               128     MacDougal St & Prince St               40.727103
726660              3160  Central Park West & W 76 St               40.778968
726661               487          E 20 St & FDR Drive               40.733143
726662               282           Kent Ave & S 11 St               40.707645
726663               282           Kent Ave & S 11 St               40.707645
726664               282           Kent Ave & S 11 St               40.707645
726665               237              E 11 St & 2 Ave               40.730473
726666               469           Broadway & W 53 St               40.763441
726667               334              W 20 St & 7 Ave               40.742388
726668              3309              E 97 St & 3 Ave               40.785920
726669               369        Washington Pl & 6 Ave               40.732241
726670               383   Greenwich Ave & Charles St               40.735238
726671               267           Broadway & W 36 St               40.750977
726672              3092            Berry St & N 8 St               40.719009
726673              3245      Kiosk in a box Motivate               40.646678
726674              3245      Kiosk in a box Motivate               40.646678
726675              3245      Kiosk in a box Motivate               40.646678

        Start Station Longitude  End Station ID              End Station Name  \
0                    -73.971370            3165   Central Park West & W 72 St
1                    -73.990868             498            Broadway & W 32 St
2                    -73.963888            3152               3 Ave & E 71 St
3                    -73.963888            3152               3 Ave & E 71 St
4                    -73.963888            3152               3 Ave & E 71 St
5                    -73.977825            3163   Central Park West & W 68 St
6                    -73.981918             479               9 Ave & W 45 St
7                    -73.987535             445            E 10 St & Avenue A
8                    -73.986569             242    Carlton Ave & Flushing Ave
9                    -73.976206            3164        Columbus Ave & W 72 St
10                   -73.977061             526               E 33 St & 5 Ave
11                   -73.986831            3259               9 Ave & W 28 St
12                   -73.983169            3325               E 95 St & 3 Ave
13                   -73.986923             355         Bayard St & Baxter St
14                   -73.994618            3428               8 Ave & W 16 St
15                   -73.977550            3163   Central Park West & W 68 St
16                   -73.994618            3428               8 Ave & W 16 St
17                   -73.986905            3263        Cooper Square & E 7 St
18                   -73.987654             520               W 52 St & 5 Ave
19                   -74.000264             306          Cliff St & Fulton St
20                   -73.964094            3146               E 81 St & 3 Ave
21                   -74.001670             308       St James Pl & Oliver St
22                   -73.983688             301             E 2 St & Avenue B
23                   -74.002971             229                Great Jones St
24                   -73.987895             524               W 43 St & 6 Ave
25                   -73.987895             524               W 43 St & 6 Ave
26                   -73.987895             524               W 43 St & 6 Ave
27                   -73.981632             428                E 3 St & 1 Ave
28                   -74.002150             524               W 43 St & 6 Ave
29                   -73.988639             494               W 26 St & 8 Ave
...                         ...             ...                           ...
726646               -73.988597             285            Broadway & E 14 St
726647               -73.988597             285            Broadway & E 14 St
726648               -73.982586            3110  Meserole Ave & Manhattan Ave
726649               -73.986831             528               2 Ave & E 31 St
726650               -73.954823             167               E 39 St & 3 Ave
726651               -73.990741             491          E 24 St & Park Ave S
726652               -73.999744             331           Pike St & Monroe St
726653               -74.002971             504               1 Ave & E 16 St
726654               -74.002638             470               W 20 St & 8 Ave
726655               -73.982681             493               W 45 St & 6 Ave
726656               -74.001971             482               W 15 St & 7 Ave
726657               -74.001971             284         Greenwich Ave & 8 Ave
726658               -74.006180             394             E 9 St & Avenue C
726659               -74.002971             303         Mercer St & Spring St
726660               -73.973747            3160   Central Park West & W 76 St
726661               -73.975739             519         Pershing Square North
726662               -73.968415            3093          N 6 St & Bedford Ave
726663               -73.968415            3093          N 6 St & Bedford Ave
726664               -73.968415            3093          N 6 St & Bedford Ave
726665               -73.986724             394             E 9 St & Avenue C
726666               -73.982681             487           E 20 St & FDR Drive
726667               -73.997262             401       Allen St & Rivington St
726668               -73.948603            3351              E 102 St & 1 Ave
726669               -74.000264            2021               W 45 St & 8 Ave
726670               -74.000271             354       Emerson Pl & Myrtle Ave
726671               -73.987654             527               E 33 St & 2 Ave
726672               -73.958525            3110  Meserole Ave & Manhattan Ave
726673               -74.016303            3245       Kiosk in a box Motivate
726674               -74.016303            3245       Kiosk in a box Motivate
726675               -74.016303            3245       Kiosk in a box Motivate

        End Station Latitude  End Station Longitude  Bike ID   User Type  \
0                  40.775794             -73.976206    25542  Subscriber
1                  40.748549             -73.988084    21136  Subscriber
2                  40.768737             -73.961199    18147    Customer
3                  40.768737             -73.961199    21211    Customer
4                  40.768737             -73.961199    26819    Customer
5                  40.773407             -73.977825    16050  Subscriber
6                  40.760193             -73.991255    27294  Subscriber
7                  40.727408             -73.981420    23288  Subscriber
8                  40.697787             -73.973736    25041  Subscriber
9                  40.777057             -73.978985    16311  Subscriber
10                 40.747659             -73.984907    26138  Subscriber
11                 40.749370             -73.999234    19728  Subscriber
12                 40.784903             -73.950503    17171  Subscriber
13                 40.716021             -73.999744    23874  Subscriber
14                 40.740983             -74.001702    26501  Subscriber
15                 40.773407             -73.977825    20845  Subscriber
16                 40.740983             -74.001702    15597  Subscriber
17                 40.729236             -73.990868    17810  Subscriber
18                 40.759923             -73.976485    27279    Customer
19                 40.708235             -74.005301    21128  Subscriber
20                 40.775730             -73.956753    26491  Subscriber
21                 40.713079             -73.998512    18417  Subscriber
22                 40.722174             -73.983688    21400  Subscriber
23                 40.727434             -73.993790    26577  Subscriber
24                 40.755273             -73.983169    15603    Customer
25                 40.755273             -73.983169    16373    Customer
26                 40.755273             -73.983169    17438    Customer
27                 40.724677             -73.987834    25023  Subscriber
28                 40.755273             -73.983169    26003  Subscriber
29                 40.747348             -73.997236    18569  Subscriber
...                      ...                    ...      ...         ...
726646             40.734546             -73.990741    19133  Subscriber
726647             40.734546             -73.990741    19564  Subscriber
726648             40.727086             -73.952991    15589  Subscriber
726649             40.742909             -73.977061    25228  Subscriber
726650             40.748901             -73.976049    25995  Subscriber
726651             40.740964             -73.986022    25110  Subscriber
726652             40.711731             -73.991930    27144  Subscriber
726653             40.732219             -73.981656    25782  Subscriber
726654             40.743453             -74.000040    25769  Subscriber
726655             40.756800             -73.982912    18030  Subscriber
726656             40.739355             -73.999318    20260  Subscriber
726657             40.739017             -74.002638    18426  Subscriber
726658             40.725213             -73.977688    18691  Subscriber
726659             40.723627             -73.999496    20276  Subscriber
726660             40.778968             -73.973747    27307  Subscriber
726661             40.751873             -73.977706    26086  Subscriber
726662             40.717452             -73.958509    15432    Customer
726663             40.717452             -73.958509    24848    Customer
726664             40.717452             -73.958509    25986    Customer
726665             40.725213             -73.977688    25132  Subscriber
726666             40.733143             -73.975739    18861  Subscriber
726667             40.720196             -73.989978    17538  Subscriber
726668             40.786995             -73.941648    19750  Subscriber
726669             40.759291             -73.988597    27128  Subscriber
726670             40.693631             -73.962236    26053  Subscriber
726671             40.744023             -73.976056    17133  Subscriber
726672             40.727086             -73.952991    18810  Subscriber
726673             40.646678             -74.016303    24777  Subscriber
726674             40.646678             -74.016303    24777  Subscriber
726675             40.646678             -74.016303    24777  Subscriber

        Birth Year  Gender
0           1965.0       2
1           1987.0       2
2              NaN       0
3              NaN       0
4              NaN       0
5           2000.0       1
6           1973.0       1
7           1977.0       2
8           1989.0       1
9           1980.0       1
10          1993.0       1
11          1973.0       1
12          1992.0       1
13          1996.0       1
14          1964.0       1
15          1977.0       1
16          1970.0       1
17          1994.0       1
18             NaN       0
19          1969.0       1
20          1984.0       2
21          1974.0       1
22          1996.0       1
23          1991.0       1
24             NaN       0
25             NaN       0
26             NaN       0
27          1968.0       2
28          1991.0       1
29          1986.0       1
...            ...     ...
726646      1990.0       2
726647      1985.0       1
726648      1991.0       1
726649      1991.0       1
726650      1975.0       1
726651      1986.0       1
726652      1985.0       1
726653      1988.0       1
726654      1991.0       1
726655      1978.0       1
726656      1988.0       1
726657      1972.0       2
726658      1988.0       2
726659      1992.0       2
726660      1986.0       1
726661      1996.0       1
726662         NaN       0
726663         NaN       0
726664         NaN       0
726665      1962.0       1
726666      1983.0       1
726667      1964.0       1
726668      1991.0       1
726669      1983.0       1
726670      1979.0       1
726671      1977.0       1
726672      1972.0       1
726673      1992.0       1
726674      1992.0       1
726675      1992.0       1

[726676 rows x 15 columns]>

In [18]:
jan17.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [5]:
#Concatenate all 2017 bike station dfs into a single df
bike17 = pd.concat([jan17,feb17,mar17,apr17,may17,jun17,jul17,aug17,sep17,oct17,nov17,dec17], ignore_index=True)

C:\Users\wmagill4\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app

In [6]:
bike17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16364657 entries, 0 to 16364656
Data columns (total 30 columns):
Bike ID                    float64
Birth Year                 float64
End Station ID             float64
End Station Latitude       float64
End Station Longitude      float64
End Station Name           object
Gender                     float64
Start Station ID           float64
Start Station Latitude     float64
Start Station Longitude    float64
Start Station Name         object
Start Time                 object
Stop Time                  object
Trip Duration              float64
User Type                  object
bikeid                     float64
birth year                 float64
end station id             float64
end station latitude       float64
end station longitude      float64
end station name           object
gender                     float64
start station id           float64
start station latitude     float64
start station longitude    float64
start station name         object
starttime                  object
stoptime                   object
tripduration               float64
usertype                   object
dtypes: float64(20), object(10)
memory usage: 3.7+ GB

In [13]:
#export to csv
bike17.to_csv('Data/2017_citi_bike_trips.csv')

In [16]:
bike17['birth year'].value_counts()

1989.0    539754
1988.0    536772
1990.0    531733
1987.0    520262
1986.0    512588
1985.0    511864
1991.0    494006
1984.0    468035
1992.0    448861
1983.0    436911
1982.0    409460
1981.0    378683
1993.0    370490
1980.0    345094
1979.0    322207
1978.0    294443
1977.0    276883
1976.0    271796
1970.0    260206
1974.0    252270
1975.0    250921
1971.0    241491
1994.0    239902
1969.0    236974
1973.0    234265
1972.0    230160
1968.0    214935
1967.0    197998
1965.0    190260
1964.0    183703
           ...
1901.0       327
1910.0       285
1899.0       235
1912.0       223
1917.0       208
1931.0       200
1887.0       192
1929.0       185
1893.0       166
1926.0       157
1918.0       139
1894.0       128
1921.0       128
1927.0       121
1886.0        85
1895.0        81
1930.0        78
1928.0        69
1888.0        44
1907.0        39
1913.0        39
1916.0        31
1896.0        23
1915.0        21
1889.0        10
1890.0         9
1920.0         9
1874.0         6
1905.0         3
1884.0         2
Name: birth year, Length: 103, dtype: int64

In [31]:
bike17['Birth Year'] = int(bike17['Birth Year'])

TypeError: cannot convert the series to <class 'int'>

In [28]:
bike17['Birth Year']

0           1965.0
1           1987.0
2              NaN
3              NaN
4              NaN
5           2000.0
6           1973.0
7           1977.0
8           1989.0
9           1980.0
10          1993.0
11          1973.0
12          1992.0
13          1996.0
14          1964.0
15          1977.0
16          1970.0
17          1994.0
18             NaN
19          1969.0
20          1984.0
21          1974.0
22          1996.0
23          1991.0
24             NaN
25             NaN
26             NaN
27          1968.0
28          1991.0
29          1986.0
             ...
16364627       NaN
16364628       NaN
16364629       NaN
16364630       NaN
16364631       NaN
16364632       NaN
16364633       NaN
16364634       NaN
16364635       NaN
16364636       NaN
16364637       NaN
16364638       NaN
16364639       NaN
16364640       NaN
16364641       NaN
16364642       NaN
16364643       NaN
16364644       NaN
16364645       NaN
16364646       NaN
16364647       NaN
16364648       NaN
16364649       NaN
16364650       NaN
16364651       NaN
16364652       NaN
16364653       NaN
16364654       NaN
16364655       NaN
16364656       NaN
Name: Birth Year, Length: 16364657, dtype: float64